.your-component {
    position: relative;
    padding: 1rem;
     max-width: 1000px; 
    width: 100%;
    text-align: left;
}

.header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        border-bottom: 2px solid;
        border-color: teal;
        padding: 1rem;
        z-index: 0;
        background: rgba(0, 128, 128, 0.10);
}

.post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info-container {
    position: absolute;
    left: 4.5rem;
    margin-left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.text-style {
    display: block;
    font-size: small;
    color: gray;
}

.avatar-container {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.box-container {
    border: 1px solid;
    border-color: grey;
    border-radius: 0.25rem;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.1rem;
    padding-bottom: 0.5rem;
    margin:  auto;
    /* Center the box horizontally */
    max-width: 600px;
    /* Adjust the max-width if needed */
}

.inner-box {
    padding: 3.5rem 3.5rem 0.2rem 0.2rem;
    min-height: 30px;
}

.text-content {
    word-break: break-word;
    font-size: 0.9rem;
}

.actions-container {
    display: flex;
    padding-top: 0.5rem;
}

.action-item {
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.action-item:hover {
    background-color: rgba(255, 0, 0, 0.200);
    border-radius: 1rem;
}

.comment-action:hover{
        background-color: rgba(0, 128, 128, 0.200);
        border-radius: 1rem;
        }

.action-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1rem;
}

.delete-container {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
}

.delete-button {
    color: red;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.comment-button {
    color: teal;
}

p{
    margin-left: 0.5rem;
}

.no-posts-message {
    text-align: center;
    font-size: 1.5rem;}